.block1 {
    background: rgba(0,0,0,.8);
    padding: 2rem;
    color: #f7f7f7;

    & h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        border-bottom: solid #f7931e;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    & p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
    }

    & button {
        border: 1px solid #f7931e;
        border-radius: 1rem;
        width: 30vw;
        margin-left: 33vw;
        margin-right: auto;
        line-height: 1rem;
        text-align: center;
        font-feature-settings: "smcp" 1;
        font-variant-caps: all-small-caps;
        margin-bottom: 0;
        background: #f7931e;
        color: #f7f7f7;
        font-size: 1.2rem;
        padding-bottom: 0.8em;
        margin-top: 4rem;

        & a {
            text-decoration: none;
            color: #f7f7f7;
        }
    }
}