.page-template-portfolio-child {
    & amp-carousel amp-img {
        cursor: pointer;
    }
    & .main {
        top: 0;
        margin-top: -8rem;
    }
    & .galleryBlocks {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 80%;
        & .portfolioContent {
            color:#fff;
            margin: 2rem 5vw;
            & div {
                padding: 2rem;
            }
            & p {
                font-size: 1rem;
            }
        }
    }
    & .site-footer {
        & .topBlock {
margin-bottom: 10rem;
    }
    & .baseBlock {
        bottom: auto;
    }
}

    @media (--narrow-portrait-menu-query) {
        & #carouselHero,
        & amp-carousel,
        & .amp-carousel-slide,
        & #carouselHero amp-img {
            height: 17rem;
        }
        & .galleryBlocks {
            margin: 9rem 0;
            width: 100%;
            & .portfolioContent {
                margin: 0rem 0vw;
                & div {
                    padding: 1rem;
                }
            }
        }
        & .site-footer .baseBlock .builtBy {
            height: 5rem;
            margin-top: -1rem;
            padding-top: 1rem;
        }
    }
}