.page-template-portfolio-child {
    & .galleryBlocks {
        & .portfolioContent {
            color:#fff;
            margin: 2rem 5vw;
            & div {
                padding: 2rem;
            }
            & p {
                font-size: 1rem;
            }
        }
    }
    
    @media (--narrow-portrait-menu-query) {
        & .galleryBlocks {
            margin: 0;
        }
    }
}